.tools {
  grid-area: tools;
  background: #f0f0f0;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}

.tools__title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.tools__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 0.75rem;
}

.tools__category {
  position: relative;
  background: white;
  border-radius: 0.625rem;
}

.tools__category-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  font-weight: 500;
  font-size: 0.3125rem;
  padding: 0.125rem 0.375rem;
  border-radius: 3.6875rem;
  white-space: nowrap;
  line-height: 142%;
}

.tools__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tools__icons img {
  height: 1.05rem;
  width: 1.05rem;
  display: block;
}

.tools__icons img:nth-child(odd) {
  justify-self: end;
}

.tools__icons img:nth-child(even) {
  justify-self: start;
}
